---
---

@import "{{ site.theme }}";

h1, .h1 {
    font-size: 300%;
}
h2, .h2 {
    font-size: 285.7%;
}
h3, .h3 {
    font-size: 228.5%;
}
h4, .h4 {
    font-size: 171.4%;
}
h5, .h5 {
    font-size: 150%;
}

a:hover {   
   font-weight: initial;
   color: maroon; 
}

a.classhead:hover {
   text-decoration: none; 
   color: maroon; 
   font-weight: bold;
}
